@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

header{
    height: 12vh;
    width: 100%;
    box-shadow: 0 1px 5px rgb(10, 10, 10);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE6ED;
}

header>h1{
    font-weight: 500;
    font-size: 40px;
    margin: 20px;
}

.logo {
    width: auto; /* Adjust the size of the logo as needed */
    height: 60px;
}

.main-block {
    height: 88vh;
    width: 100%;
    display: flex;
}

.left-block {
    height: 100%;
    width: 25%;
    background-color: #9DB2BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: rgb(129, 129, 210);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 1s;
}

button:hover {
    background-color: transparent;
    border: 1px solid;
}



.right-block {
    height: 100%;
    width: 85%;
}

.top-div {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-div>h3 {
    font-size: 25px;
    font-weight: 600;
    width: 90%;
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid;
}

.top-div>ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.bottom-div {
    width: 100%;
    height: 85%;
    overflow: auto;
}

.bottom-div>#headlines {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
    
}

#headlines>div {
    width: 30%;
    height: 100px;
    border: 1px solid;
    font-size: 15px;
    margin: 15px 0px 0px 15px;
    background-size: 100%;
    opacity: 0.5;
}

.sub-cat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-cat>div {
    width: 80%;
    height: 400px;
    box-shadow: 0px 0px 5px 2px darkslateblue;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.sub-cat>div>img {
    width: 250px;
    height: 150px;
}

.sub-cat h2 {
    font-size: 25px;
    font-weight: 700;
}

.sub-cat h4 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.sub-cat p {
    font-size: 15px;
    text-align: justify;
}

.sub-cat button {
    font-size: 15px;
    width: 300;
}
